<div class="navbar">
  <div class="parent2">
    <div class="test1"><%= link_to '<i class="fa fa-home fa-2x"></i>'.html_safe, characters_path %></div>
    <div class="test2"><%= link_to '<i class="fa fa-graduation-cap fa-2x"></i>'.html_safe, "https://github.com/Naokimi" %></div>
    <div class="test3"><i class="fa fa-code fa-2x"></i></div>
    <div class="test4"><i class="fa fa-envelope-o fa-2x"></i></div>
    <div class="mask2"><i class="fa fa-home fa-3x"></i></div>
  </div>
</div>
