<div class="navbar">
  <div class="parent2">
    <div class="test1"><%= link_to '<i class="fa fa-home fa-2x"></i>'.html_safe, root_path %></div>
    <div class="test2"><%= link_to '<i class="fas fa-plus fa-2x"></i>'.html_safe, new_character_path %></div>
    <div class="test3"><%= link_to '<i class="fab fa-github fa-2x"></i>'.html_safe, "https://github.com/Naokimi", target: "_blank" %></div>
    <div class="test4"><%= link_to '<i class="fab fa-steam-symbol fa-2x"></i>'.html_safe, "https://store.steampowered.com/app/281990/Stellaris/", target: "_blank" %></div>
    <div class="mask2"><i class="fas fa-globe fa-3x"></i></div>
  </div>
</div>
