<% @characters.each do |character| %>
  <div class="card">
    <div class="front" style="background-image: url(//source.unsplash.com/300x40<%= character.id %>">
      <p></p>
    </div>
    <div class="back" style="background-image: url(//source.unsplash.com/300x40<%= character.id %>">
      <p><%= link_to character.name, character_path(character) %></p>
    </div>
  </div>

<% end %>




